@import '~styles/helpers/_mixins';

:host {
  color: yellow;
}

.announcement-content {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 200px;
	justify-content: left;
	position: relative;
	text-align: center;
  color: yellow;
}

.announcement-link-button {
	@include clickable;
	padding: 8px 14px;

	&:hover {
		text-decoration: underline;
	}
}

.close-button {
	$size: 30px;

	height: $size;
	line-height: $size;
	position: absolute;
	right: 0;
	width: $size;
}

.icon {
	$size: 50px;
	height: $size;
	margin-right: 90px;
	width: $size;
}

.text {
	& + * {
		margin-left: 50px;
	}
}
